.container{
    width: 1000px;
    height: auto;
    background-color: white;
    margin-left: auto;margin-right: auto;
}
.slider{
    background-image: url('../images/slide1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 582px;
	overflow: hidden;
	display: flex;
    justify-content: space-between;
    animation:zoom 0.5s ease;
}

#leftButton,#rightButton{
	width: 50px;
	height: 80px;
	margin: auto;
	color: black;
    font-size: 30px;
	background-color: rgba(148, 148, 218, 0.534);
	border: 0ch;
}

@keyframes zoom{
	0%{transform: scale(1.5);opacity: 0;}
	100%{transform: scale(1);opacity: 1;}
}

@media(max-width:1000px){
    .container{
        width: 100%;
    }
}

.category{
    width: 100%;
    height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.category .box-item{
	width: 220px;
	height: 180px;
    margin: 15px;
    box-sizing: border-box;
    display: flex;
    background-color: rgba(0, 0, 0, 0.466);
}
.category .box-item h1{
    margin: auto;
    font-weight: 900;
    font-size: 20px;
    color: black;
}

@media (max-width : 800px){
    .category .box-item{
        width: 250px;
        height: 250px;
    }   
   
}
